body {
    margin: 50px;
    padding: 0;
}

.container {
    position: relative;
    width: 300px;
    height: 300px;
    display: inline-block;
}

.image {
    display: block;
    width: 300px;
    height: 300px;
}

.overlay {
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background-color: black;
}

.container:hover .overlay{
    opacity: 1;
}

.text{
    color: white;
    font-family: monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 13px;
}

.overlayLeft {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #00b1ba;
}

.overlayRight {
    height:  100%;
    width: 0;
    top: 0;
    right: 0;
    background-color: #00b1ba;
    
}

.container:hover .overlayLeft, .container:hover .overlayRight{
    width: 100%;
}

.overlayTop {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: #00b1ba;
}

.overlayBottom {
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: #00b1ba;
}

.container:hover .overlayTop, .container:hover .overlayBottom{
    height: 100%;
}

.overlayCross {
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: #00b1ba;
}

.container:hover .overlayCross {
    height: 100%;
    width: 100%;
}

.overlayFade {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00b1ba;
}

/*FUCKING BUTTON*/
.container .text. button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}
